@use "../abstracts";

html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(7485%) hue-rotate(21deg) brightness(110%) contrast(100%);

  --body-bg: #292e39;
  --header-bg-color: #171c28;
  --top-act-group-bg-color: #292e39;
  --top-act-group-shadow: rgba(0, 0, 0, 0.2);

  @include abstracts.breakpoint(lg) {
    --header-shadow-color: rgba(0, 0, 0, 0.2);
  }

  // Dropdown
  --dropdown-bg-color: #2f3441;
  --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(19%) sepia(4%)
    saturate(2602%) hue-rotate(186deg) brightness(93%) contrast(91%);

  --top-menu-border-color: #171c28;
  --menu-column-icon-color: brightness(0) saturate(100%) invert(100%) sepia(2%)
    saturate(3031%) hue-rotate(269deg) brightness(100%) contrast(97%);
  --menu-column-text-color: #b9babe;
}
