@use "../abstracts";

html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(2%) sepia(50%)
    saturate(6905%) hue-rotate(264deg) brightness(105%) contrast(86%);

  --body-bg: #f6f6f6;
  --header-bg-color: #eee;
  --top-act-group-bg-color: #fff;
  --top-act-group-shadow: rgba(237, 237, 246, 0.2);

  @include abstracts.breakpoint(lg) {
    --header-bg-color: #fff;
  }
}
