*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Gordita, sans-serif;
  color: var(--text-color);
  background: var(--body-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

a,
button,
section,
input,
textarea {
  border: none;
  outline: none;
  padding: 0;
  color: inherit;
  background: transparent;
  font-size: inherit;
  -webkit-tap-highlight-color: transparent;
}

.icon {
  filter: var(--icon-color);
}
