*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(2%) sepia(50%)
    saturate(6905%) hue-rotate(264deg) brightness(105%) contrast(86%);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Gordita, sans-serif;
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

button,
section,
input,
textarea {
  border: none;
  outline: none;
  padding: 0;
  color: inherit;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
}

.icon {
  filter: var(--icon-color);
}
