@use "../abstracts";

%flexItemCenter {
  display: flex;
  align-items: center;
}

.header {
  background: var(--header-bg-color);

  @include abstracts.breakpoint(lg) {
    box-shadow: 0 20px 60px 10px var(--header-shadow-color);
  }
}

.top-bar {
  @extend %flexItemCenter;
  position: relative;
  padding: 30px 0;

  @include abstracts.breakpoint(lg) {
    padding: 20px 0;
  }

  @include abstracts.breakpoint(md) {
    justify-content: space-between;
    padding: 16px 0;
  }

  &__more {
    display: none;
    @include abstracts.breakpoint(lg) {
      display: block;
      margin-right: 39px;
    }

    @include abstracts.breakpoint(md) {
      margin-right: 0;
    }
  }
}

.navbar {
  margin-left: 129px;

  @include abstracts.breakpoint(xl) {
    margin-left: 30px;
  }

  @include abstracts.breakpoint(lg) {
    position: fixed;
    z-index: 9;
    inset: 0 50% 0 0;
    margin-left: 0;
    padding: 20px 0;
    border-radius: 0 20px 20px 0;
    background: var(--dropdown-bg-color);
    translate: -100%;
    transition: translate 0.5s;

    &.show {
      translate: 0;
      box-shadow: 0 40px 90px 20px var(--navbar-shadow-color);
    }

    &.show ~ &__overlay {
      visibility: visible;
      opacity: 1;
    }
  }

  @include abstracts.breakpoint(sm) {
    inset: 0 20% 0 0;
  }

  &__close-btn {
    display: none;
    @include abstracts.breakpoint(lg) {
      display: block;
      padding: 20px 40px 10px;
    }

    @include abstracts.breakpoint(sm) {
      padding: 0 20px 10px;
    }
  }

  &__overlay {
    visibility: hidden;
    opacity: 0;

    @include abstracts.breakpoint(lg) {
      position: fixed;
      inset: 0;
      z-index: 8;
      background: rgba($color: #000000, $alpha: 0.4);

      transition: opacity, visibility;
      transition-duration: 0.5s;
    }
  }

  &__list {
    @extend %flexItemCenter;

    @include abstracts.breakpoint(lg) {
      flex-direction: column;
      align-items: flex-start;
      overflow: auto;
      overscroll-behavior: contain;
      height: calc(100% - 100px);
    }
  }

  &__item {
    &:hover .dropdown {
      display: block;
    }

    @include abstracts.breakpoint(lg) {
      width: 100%;

      &:hover .dropdown {
        display: none;
      }

      &--active .dropdown {
        display: block !important;
      }

      &--active .navbar__arrow {
        rotate: 0deg;
      }
    }
  }

  &__link {
    @extend %flexItemCenter;
    gap: 6px;
    height: 50px;
    padding: 0 15px;

    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.47;

    @include abstracts.breakpoint(lg) {
      padding: 10px 40px;
      font-size: 1.6rem;
      line-height: 1.5;
      justify-content: space-between;
    }

    @include abstracts.breakpoint(sm) {
      height: 44px;
      padding: 10px 20px;
    }
  }

  &__arrow {
    @include abstracts.breakpoint(lg) {
      rotate: -90deg;
    }
  }

  &-btn {
    display: none;

    @include abstracts.breakpoint(md) {
      display: flex;
      align-items: center;
      padding: 10px 40px;

      &__title,
      &__qty {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.47;
      }

      &__title {
        margin-left: 15px;
      }

      &__qty {
        margin-left: auto;
      }
    }

    @include abstracts.breakpoint(sm) {
      padding: 10px 20px;
    }
  }
}

.top-act {
  @extend %flexItemCenter;
  gap: 20px;
  margin-left: auto;
  @include abstracts.breakpoint(lg) {
    gap: 10px;
  }

  @include abstracts.breakpoint(md) {
    margin-left: 0;
  }

  &__group {
    @extend %flexItemCenter;
    min-width: 50px;
    height: 50px;

    border-radius: 8px;
    background: var(--top-act-group-bg-color);
    box-shadow: 0 20px 60px 10px var(--top-act-group-shadow);

    @include abstracts.breakpoint(md) {
      display: none;
    }
  }

  &__group--single {
    @include abstracts.breakpoint(md) {
      display: none;
    }
  }

  &__group--single &__btn {
    padding: 13px;
  }

  &__btn {
    @extend %flexItemCenter;
    gap: 10px;
    padding: 10px 20px;
    cursor: pointer;
    @include abstracts.breakpoint(lg) {
      gap: 5px;
      padding: 5px 10px;
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.47;
  }

  &__separate {
    width: 1px;
    height: 30px;
    background: #ededf6;
  }

  &__avatar {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 14px 2px rgba(0, 0, 0, 0.08);
    cursor: pointer;
  }
}
